body{
		background-color: #f6feff;
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
}



main{
	padding: 10px 30px;
	
}

.jumbotron{
		background-color: #f6feff;
 		background-image: url("b4.jpg");
		background-size: cover;
					text-align: center;

}

.display-4,
.lead{
			background-color: #719fa2;
	opacity: 0.85;
color: white;
}



h1{
	color:#30bcc1;
			text-align: center;
}

h3,
p{
	color:#5f6767;
	font-size: 20px;
	padding: 10px 30px;
}




button{
		color:#30bcc1;
	padding: 10px 10px;
	margin: 50px 30px;
	box-shadow: 0px 10px 14px -7px #9dd7e2;
	background:linear-gradient(to bottom, #399d9c 5%, #bfd5d9 100%);
	background-color:#3a887b;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}

footer,
form{
		color:#1d6668;
		padding: 30px 30px;
		text-align: center;
/* 		margin: 30px 30px; */

}

input {
  padding: 5px ;
  margin: 12px ;
}
label{
	  padding: 15px ;
	  margin: 12px ;
			color:#1d6668;
} 



/* style for form page */
canvas#signature {
  border: 2px solid black;
		margin-right: 50px;

}

form>* {
  margin: 10px;

}
/* style for form page */