body{
		background-color: #f6feff;
 		background-image: url("Picture13.jpg");
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
}

.contain{
text-align: center;
	  position: relative;

}


.box {
  position: absolute;

}

h1{
	color:#30bcc1;
padding-top: 90px;
			text-align: center;

}

h2{
	color:#30bcc1;
padding-top: 90px;
	margin-left: 10px;
		text-align: center;

}

h3, 
p{
	color:#5f6767;
	font-size: 20px;
	padding: 10px 30px;
	text-align: center;
}


ul{
		color:#5f6767;
	font-size: 20px;
	padding: 30px 50px;
  list-style-type: none;
	line-height: 2.5;
	font-family: Papyrus;
}

button{
		color:#30bcc1;
	padding: 10px 10px;
	margin: 50px 30px;
	box-shadow: 0px 10px 14px -7px #9bb1b5;
	background:linear-gradient(to bottom, #599bb3 5%, #bfd5d9 100%);
	background-color:#599bb3;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}


form{
		color:#1d6668;
		padding: 30px 30px;
		text-align: center;
/* 		margin: 30px 30px; */

}

input {
  padding: 5px ;
  margin: 12px ;
}
label{
	  padding: 15px ;
	  margin: 12px ;
			color:#1d6668;
} 



/* style for form page */
canvas#signature {
  border: 2px solid black;
		margin-right: 50px;

}

form>* {
  margin: 10px;

}
/* style for form page */